$color_fuentePrincipal: black;
$color_fuentePrincipal2: black; // usado en colores especiales de botones
$color_fuenteCreditos: gray;
$color_botonesCarrousel: black;
$color_textosCarrousel: black;


$fuente_principal: Arial, Helvetica, sans-serif;
$fuente_botones: Arial;

$tamaño_fuente:16px;
$tamaño_fuente_titulos:1.5em;
$tamaño_fuente_nav: 0.9em;
$tamaño_fuente_creditos: 0.7em;

$alto_maximo_textos_index: 400px;

$color_background_footer: #0073d0;
$color_background_form_inscripcion: WHITESMOKE;
$color_background_tabla: white;
$color_background:#F6FCFC; // fondos de pagina #EFF5F3
$color_background2: WHITESMOKE; // fondos de botones
$color_background3: gray; // fondo de botones con hoover


$color_botones: #2C59E7;
$color_botones2: #23395e; // sombras de los textos y borde de boton
$color_botones_transicion: #2C59E7; // cambia a este color al pasar por encima con puntero
$color_borde_listaTextos: gray;


$nav-link-color: $color_fuentePrincipal; // Para darle color al menu del bootstrap
$nav-link-font-size: $tamaño_fuente_nav; // Pära darle el tamaño a la letra de la barra NAV
$carousel-control-color: $color_botonesCarrousel; // Para cambiar colores de botones de carrousel
$carousel-caption-color: $color_textosCarrousel; // Para cambiar colores de los textos dentro de las fotos en el carrousel