$color_fuentePrincipal: black;
$color_fuentePrincipal2: black; // usado en colores especiales de botones
$fuente_principal: Arial, Helvetica, sans-serif;
$color_background:#EFF5F3; // fondos de pagina
$color_background2: whitesmoke; // fondos de botones
$color_background3: gray; // fondo de botones con hoover


$nav-link-color: $color_fuentePrincipal;