@import "variables";
@import "bootstrap/scss/bootstrap";

@mixin organizacionVertical{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* *******GENERAL ********** */
*{
    margin:0px;
    padding:0px;
}

.estilo{
    font-family: $fuente_principal;
    font-size: medium;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    color: $color_fuentePrincipal;
}

.estiloTitulo{
    font-family: $fuente_principal;
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    color: $color_fuentePrincipal;
}

.estiloLista{
    font-family: $fuente_principal;
    font-size: small;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: $color_fuentePrincipal;
}

body {
    @include organizacionVertical();
}

@keyframes anima {

    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }

}

@media only screen and (min-width: 320px){

    .cuerpoIntIns{

        display:grid;
        grid-template-areas:"carr"
                            "textoInterno"
                            "tabla"
                            "proceso"
                            "contacto";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 5px;
    }

    .textoFlex50{
        flex:100%;
    }

    .textoFlex25{
        flex: 100%;
    }

    .boton{
        display:block;
        margin:0.2em auto;
    }

    .proceso ul {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media only screen and (min-width: 768px){

    .cuerpoIntIns{

        display:grid;
        grid-template-areas:"carr carr tabla"
                            "textoInterno textoInterno tabla"
                            "proceso proceso tabla"
                            "contacto contacto contacto";
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        grid-column-gap: 5px;
    }

    .textoFlex50{
        flex:50%;
    }

    .textoFlex25{
        flex: 50%;
    }

    .proceso ul {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

}

@media only screen and (min-width: 1024px){

    .cuerpoIntIns{
        display:grid;
        grid-template-areas:"carr carr carr tabla tabla"
                            "textoInterno textoInterno textoInterno tabla tabla"
                            "proceso proceso proceso tabla tabla"
                            "contacto contacto contacto contacto contacto";
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        grid-column-gap: 5px;
    }

    .textoFlex{
        flex:50%;
    }

    .textoFlex25{
        flex: 25%;
    }

    .proceso ul {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

}

/*********************************** HEADER ******************/


header{
    height: 105px;
    width: 100%;
    margin: 0%;
    background-repeat: repeat;
    background-image: url(imagenheader.gif);
    position: fixed;
    z-index: 9999;
    @include organizacionVertical();
    .headerCentral{
        @include organizacionVertical();
        height: 100%;
        margin-left: 15%;
        margin-right: 15%;
        .iconoI{
            align-items: flex-start;
            width: 195px;
            height: 50px;
        }
        .navBarr{
            height: 30px;
            width:auto;
            margin-top: 20px;
            align-items: flex-start;
            ul {            
                li{
                    padding-right:1ch;
                    ul{
                        background-color:$color_background;  
                    }              
                }
            }
        }
    }
}

/******************* BODY ********************/

.botonesNav{
    display:flex;
    flex-direction:row;
    align-content: center;
    justify-content: space-around;
    margin-top:45px;
    margin-bottom: 35px;
    padding:1px;
    .boton{

        width: 105px;
        height: 105px;
        display:inline-block;
        border-radius:50%;
        box-sizing: border-box;
        text-decoration:none;
        font-family:$fuente_principal;
        font-weight:300;
        color:$color_fuentePrincipal2;
        background-color:$color_background2;
        text-align:center;
        transition: all 0.2s;
    }

    .boton:hover {
        background-color:$color_background3;
    }
}

.carrousel{
    grid-area:carr;
}

.contacto{
    grid-area: contacto;
    margin-top: 20px;
    background-color: #D1F5E2;
}

fieldset{
    display:flex;
    flex-direction: column;
}

main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top:105px;
    width: auto;
    @include organizacionVertical();
    background-color: $color_background;
    .cuerpoI{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        margin-top: 20px;
        .cuerpoInt{
            display:flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: fit-content;
            .textoI{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                div {
                    padding-left: 1px;
                    padding-right: 10px;
                } 
                .fotosI{
                    flex:100%;
                    width: 100%;
                    max-height: 400px;
                }
            }
        }
    }
}

.proceso{
    grid-area: proceso;
    height: fit-content;
    margin-top:35px;
    width: 100%;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // @include organizacionVertical();
    ul{    
        height: 100%;
        width: 100%;
        max-width: 35px;
        padding-left: 0%;
        li{
            display:inline-block;
            float:left;
            text-align: center;
            height: 100%;
            max-height: 50px;
            img{
                display:inline-block;
                text-align: center;
                height: 100%;
                max-height: 35px;
            }
            a{
                display:inline-block;
                text-align: center;
                height: 100%;
                max-height: 35px;             
           }
           .anima:hover{
            animation: anima 3s;
            }  
        }
    }
}

.tablaCat{
    grid-area: tabla;
    table-layout: fixed;
    margin-left:20px;
    tr {
        td{
        width: 50%;
        }
    }
}

.textoInterno{
    grid-area: textoInterno;
    @include organizacionVertical();
    align-content: center;
    text-align: justify;
    margin-top:30px;
    justify-items: space-between;
    padding-left: 3px;
    padding-right: 3px;   
}

footer{

    .footer{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top:40px;
        @include organizacionVertical();
        justify-content: center;
        align-items: center;
    }

    #footerIns{
        height: fit-content;
        width: auto;
        margin-right: auto;
        margin-left: auto;
        margin-top:40px;
        @include organizacionVertical();
        justify-content: center;
        align-items: center;
    }
}
