@import "variables";
@import "bootstrap/scss/bootstrap";

@mixin organizacionVertical{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* *******GENERAL ********** */
*{
    margin:0px;
    padding:0px;
}

.estilo{
    font-family: $fuente_principal;
    font-size: $tamaño_fuente;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    color: $color_fuentePrincipal;
}

.estiloTitulo{
    font-family: $fuente_principal;
    font-weight: bold;
    font-size: $tamaño_fuente_titulos;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    color: $color_fuentePrincipal;
}

.estiloLista{
    font-family: $fuente_principal;
    font-size: $tamaño_fuente;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: $color_fuentePrincipal;
}

body {
    @include organizacionVertical();
}

@keyframes anima {

    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }

}

@media only screen and (min-width: 320px){

    .cuerpoIntIns{

        display:grid;
        grid-template-areas:"carr"
                            "textoInterno"
                            "tabla"
                            "proceso"
                            "contacto";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 5px;
    }

    .textoFlex50{
        max-width: 100%;
        padding:0;
        margin:0;
    }

    .boton{
        display:block;
        margin:0.2em auto;
    }

    .ocultoResponsive{
        display: none;
    }

    .ocultoResponsiveTablet{
        display: none;
    }

    .mostrarResponsive{
        display: list-item;
    }

    #ocultoResponsiveIns{
        display: none;
    }
}

@media only screen and (min-width: 768px){

    .cuerpoIntIns{

        display:grid;
        grid-template-areas:"carr carr tabla"
                            "textoInterno textoInterno tabla"
                            "proceso proceso tabla"
                            "contacto contacto contacto";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-column-gap: 5px;
    }

    .textoFlex50{
        max-width: 100%;
    }

    .ocultoResponsive{
        display: list-item;
    }

    .ocultoResponsiveTablet{
        display: none;
    }

    .mostrarResponsive{
        display: none;
    }

    #ocultoResponsiveIns{
        display: none;
    }
}

@media only screen and (min-width: 1024px){

    .cuerpoIntIns{
        display:grid;
        grid-template-areas:"carr carr carr tabla tabla"
                            "textoInterno textoInterno textoInterno proceso proceso"
                            "contacto contacto contacto contacto contacto";
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        grid-column-gap: 5px;
    }

    .textoFlex50{
        max-width: 50%;
        line-height:150%;
        li{
            margin-top:15px
        }
    } 

    .ocultoResponsive{
        display: list-item;
    }

    .ocultoResponsiveTablet{
        display: list-item;
    }

    .mostrarResponsive{
        display: none;
    }

    #ocultoResponsiveIns{
        display: none;
    }

}

@media only screen and (min-width: 1200px){

    #ocultoResponsiveIns{
        display: list-item;
    }

}



/*********************************** HEADER ******************/


header{
    height: 105px;
    width: 100%;
    margin: 0%;
    background-repeat: repeat;
    background-image: url("../Img/imagen_header.jpg");
    position: fixed;
    z-index: 9999;
    @include organizacionVertical();
    .headerCentral{
        @include organizacionVertical();
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;

        .headerCentralSuperior{
            display:flex;
            flex-flow: column wrap;
            max-height: 90px;
            width: auto;
            
            .iconoHeaderI{
                width: 195px;
            }
            .botonesNav{
                display: flex;
                flex-flow: row nowrap;
                margin-top: 5px;
                align-self: flex-end;      
                width: auto;
                max-width: 255px;
                .boton{
                    box-shadow:inset 0px 0px 15px 3px $color_botones2;
                    background:linear-gradient(to bottom, $color_botones 5%, $color_botones 100%);
                    border-radius:17px;
                    border:1px solid #1f2f47;
                    color:#ffffff;
                    font-family: $fuente_botones;
                    font-size:16px; 
                    padding:7px 15px; 
                    text-decoration:none;
                    text-shadow:0px 1px 0px $color_botones2;
                }
                .boton:hover {
                    background-color:$color_botones_transicion;
                }
            }
        }
        .navBarr{
            height: 30px;
            width:auto;
            margin-top: 20px;
            align-items: flex-start;
            ul {            
                li{
                    padding-right:1ch;
                    ul{
                        background-color:$color_background;  
                    }              
                }
            }
        }
    }
}

/******************* BODY ********************/



.carrousel{
    grid-area:carr;
    img{
        width: max-content;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

.contacto{
    grid-area: contacto;
    margin-top: 2px;
    background-color: $color_background_form_inscripcion;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom:10px;
}

main{
    margin-top:80px;
    width: 100%;
    @include organizacionVertical();
    .cuerpoI{
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        margin-top: 20px;
        background-color: $color_background;

        .cuerpoInt{
            display:flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: fit-content;
            .textoI{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                .tamañoImagenMain{
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    img {
                        width: 100%;
                        height: auto;
                        min-width: 100%;
                    }
                }

                div {
                    padding-left: 1px;
                    padding-right: 10px;
                    width: auto;
                    margin-top: 10px;
                }
                .fotosI{
                    flex:100%;
                    width: 100%;
                    max-height: $alto_maximo_textos_index;
                    margin: 0;
                    padding: 0;
                }
                ul{
                    .icono_textoI{
                        display:flex;
                        flex-flow: row nowrap;
                        border-left: none;
                        padding-top:3px;
                    }
                    li{
                        list-style-type: none;
                        border-left: 3px solid $color_borde_listaTextos;
                        p{
                            margin-top:7px;
                        }

                        img{
                            width: 60px;
                            height: 60px;
                            margin-right: 3px;
                        }
                        h1{
                            text-align: left;
                            align-self:center;
                        }
                    }
                }
                
            }
        }
    }
}

.proceso{
    grid-area: proceso;
    padding-top:10px;
    padding-bottom:23px;
    width:auto;
    max-width: 700px;
    text-align: center;
    background-color: $color_background;
       
    .listaProceso{    
        height: 100%;
        width: 100%;
        // max-width: 35px;
        padding-left: 0%;
        display:inline;        
    
        li{
            float: left;
            list-style: none;
            text-align: center;
            height: 100%;
            max-height: 50px;
            max-width: 75px;
            justify-content: center;
            padding-left: 10px;
            
            img{
                height: 100%;
                max-height: 35px;
            }
            a{
                text-align: center;
                height: 100%;
                max-height: 35px;             
           }           
           .anima:hover{
            animation: anima 3s;
            }  
        }
    }
}

.tablaCat{
    grid-area: tabla;
    table-layout: fixed;
    margin-left:20px;    
    background-color: $color_background_tabla;
}

.textoInterno{
    grid-area: textoInterno;
    @include organizacionVertical();
    align-content: center;
    text-align: justify;
    justify-items: space-between;
    padding-left: 3px;
    padding-right: 3px;   
    list-style: none;
    font-size: $tamaño_fuente;
    max-height: fit-content;
}

footer{
    height: 60px;
    background-color: $color_background_footer;
    background-image: url("../Img/imagen_footer.jpg");
    background-repeat: repeat;
    z-index: 99998;

    .redSociales{
        display: flex;
        flex-flow: row wrap;

    }
    
    .estiloFooter{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        @include organizacionVertical();
        justify-content: center;
        align-items: center;
    }

    #creditoIconos{
        height: 35px;
        text-align: center;
        color:$color_fuenteCreditos;
        font-size: $tamaño_fuente_creditos;
        display: flex;
        flex-flow: row wrap;
        justify-content: center; 
        align-items: flex-end; 
        overflow: scroll;         
    }

}
